# dependencies
/node_modules

# next
/.next
/.next-test*
/.next-real-e2e
/tsconfig.next-test*.json
/tsconfig.real-e2e.json
/out

# local env
.env*
!.env.example

# tests
/coverage
/playwright-report
/test-results
/tests/.features-gen

# storybook
/storybook-static

# misc
.DS_Store
*.log
